@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed';
    font-size: 16pt;
    padding: 0 32px;
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;
}

summary {
    font-size: 24pt;
    font-weight: 600;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    box-shadow: inset 0 0 8px 0 blue;
}
