@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed';
    font-size: 14pt;
    padding: 1% 5%;
    background-image: url(img/pcb.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: justify;
    text-indent: 2%;
}

    p:first-letter {
        font-size: 20pt;
    }

figure {
    text-align: center;
    font-style: italic;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

    a:visited {
        color: coral;
    }

    a:hover {
        font-weight: 600;
        color: green;
    }

h2:target > span {
    background-color: limegreen;
}

:target + div {
    border-radius: 16px;
    box-shadow: 0 0 25px 25px rgba(220, 220, 220, 0.7);
}

div {
    padding: 16px;
}
