@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed';
    font-size: 14pt;
    padding: 1% 5%;
}

p {
    text-align: justify;
    text-indent: 2%;
}

    p:first-letter {
        font-size: 20pt;
    }

figure {
    text-align: center;
    font-style: italic;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

    a:visited {
        color: coral;
    }

    a:hover {
        font-weight: 600;
        color: green;
    }
